# Preparation of Sales

### Sales Melanoma + BC market.xlsx
This notebook prepares the sales data from the sheet `Sheet2` in `Sales Melanoma + BC market.xlsx`.

In [1]:
# Load required packages
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Load data

In [2]:
# Read in data frame
sales = pd.read_excel("../../0_raw_data/novartis_data/Sales Melanoma + BC market.xlsx", 'Sheet2')

# Look at entire data frame
sales

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Final Brand,Region,Territory,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,...,2020-11-01 00:00:00,2020-12-01 00:00:00,2021-01-01 00:00:00,2021-02-01 00:00:00,2021-03-01 00:00:00,2021-04-01 00:00:00,2021-05-01 00:00:00,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00
2,NaN,BRAFTOVI-MEKTOVI,SWEDEN,Blekinge ONCO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,132.649,218.726,104.426,194.733,194.733,194.733,146.75
3,NaN,BRAFTOVI-MEKTOVI,SWEDEN,Dalarna ONCO,208.859,104.43,450.173,246.961,846.678,266.743,...,447.944,681.766,964.435,669.062,794.066,547.111,623.711,880.737,562.625,585.178
4,NaN,BRAFTOVI-MEKTOVI,SWEDEN,Gävleborg-Gävle ONCO,NaN,NaN,NaN,208.854,104.43,104.43,...,104.43,190.511,213.085,76.2048,256.836,369.727,273.764,-0.00494,28.2205,28.2229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,NaN,ZELBORAF,SWEDEN,Skåne ONCO,70.5564,NaN,42.333,28.222,14.111,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,NaN,ZELBORAF,SWEDEN,Stockholm ONCO,42.3344,127.003,NaN,NaN,NaN,NaN,...,42.3344,NaN,14.1115,NaN,28.2229,14.1115,42.3344,70.5573,28.2229,42.3344
176,NaN,ZELBORAF,SWEDEN,Sörmland-Eskilstuna ONCO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14.1115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,ZELBORAF,SWEDEN,Uppsala ONCO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.1115,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,ZELBORAF,SWEDEN,Västra Götaland-Göteborg ONCO,28.2229,56.4458,NaN,NaN,NaN,NaN,...,14.1115,14.1115,14.1115,14.1115,NaN,NaN,NaN,NaN,NaN,NaN

## Preparatory steps

In [3]:
# Drop first column
sales.drop("Unnamed: 0", axis = 1, inplace = True)

In [4]:
# Remove row with indices 0 and 1
sales = sales.loc[2:178, :].reset_index(drop=True)

In [5]:
# Rename all columns
sales = sales.rename(columns = {"Unnamed: 1": "final_brand", "Unnamed: 2": "region", "Unnamed: 3": "territory", 
                               "Unnamed: 4" : "2019-09-01", "Unnamed: 5" : "2019-10-01",
                               "Unnamed: 6" : "2019-11-01", "Unnamed: 7" : "2019-12-01",
                               "Unnamed: 8" : "2020-01-01", "Unnamed: 9" : "2020-02-01",
                               "Unnamed: 10" : "2020-03-01", "Unnamed: 11" : "2020-04-01",
                               "Unnamed: 12" : "2020-05-01", "Unnamed: 13" : "2020-06-01",
                               "Unnamed: 14" : "2020-07-01", "Unnamed: 15" : "2020-08-01",
                               "Unnamed: 16" : "2020-09-01", "Unnamed: 17" : "2020-10-01",
                               "Unnamed: 18" : "2020-11-01", "Unnamed: 19" : "2020-12-01",
                               "Unnamed: 20" : "2021-01-01", "Unnamed: 21" : "2021-02-01",
                               "Unnamed: 22" : "2021-03-01", "Unnamed: 23" : "2021-04-01",
                               "Unnamed: 24" : "2021-05-01", "Unnamed: 25" : "2021-06-01",
                               "Unnamed: 26" : "2021-07-01", "Unnamed: 27" : "2021-08-01"})

In [6]:
# Drop irrelevant columns
sales.drop("region", axis = 1, inplace = True)

In [7]:
# Remove brackets around values and place a minus before number
for col in sales.columns[2:26]:
    sales[col] = sales[col].astype('str')
    sales[col] = sales[col].str.replace(r'\(.*\)', '0')
    sales[col] = sales[col].str.replace('-', '0')

In [8]:
# Cast to appropriate data type
sales["final_brand"] = sales["final_brand"].astype('category')
sales["territory"] = sales["territory"].astype('category')
sales["2019-09-01"] = sales["2019-09-01"].astype('float')
sales["2019-10-01"] = sales["2019-10-01"].astype('float')
sales["2019-11-01"] = sales["2019-11-01"].astype('float')
sales["2019-12-01"] = sales["2019-12-01"].astype('float')
sales["2020-01-01"] = sales["2020-01-01"].astype('float')
sales["2020-02-01"] = sales["2020-02-01"].astype('float')
sales["2020-03-01"] = sales["2020-03-01"].astype('float')
sales["2020-04-01"] = sales["2020-04-01"].astype('float')
sales["2020-05-01"] = sales["2020-05-01"].astype('float')
sales["2020-06-01"] = sales["2020-06-01"].astype('float')
sales["2020-07-01"] = sales["2020-07-01"].astype('float')
sales["2020-08-01"] = sales["2020-08-01"].astype('float')
sales["2020-09-01"] = sales["2020-09-01"].astype('float')
sales["2020-10-01"] = sales["2020-10-01"].astype('float')
sales["2020-11-01"] = sales["2020-11-01"].astype('float')
sales["2020-12-01"] = sales["2020-12-01"].astype('float')
sales["2021-01-01"] = sales["2021-01-01"].astype('float')
sales["2021-02-01"] = sales["2021-02-01"].astype('float')
sales["2021-03-01"] = sales["2021-03-01"].astype('float')
sales["2021-04-01"] = sales["2021-04-01"].astype('float')
sales["2021-05-01"] = sales["2021-05-01"].astype('float')
sales["2021-06-01"] = sales["2021-06-01"].astype('float')
sales["2021-07-01"] = sales["2021-07-01"].astype('float')
sales["2021-08-01"] = sales["2021-08-01"].astype('float')

In [9]:
# Replace negative values by 0, replace NaNs by 0, round values to nearest integer
for col in sales.select_dtypes(include = ['float']).columns:
    sales[col] = sales[col].apply(lambda x : x if x > 0 else 0) 
    sales[col] = sales[col].fillna(0) 
    sales[col] = sales[col].round(0)

In [10]:
sales

,final_brand,territory,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2020-11-01,2020-12-01,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01
0,BRAFTOVI-MEKTOVI,Blekinge ONCO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,133.0,219.0,104.0,195.0,195.0,195.0,147.0
1,BRAFTOVI-MEKTOVI,Dalarna ONCO,209.0,104.0,450.0,247.0,847.0,267.0,281.0,422.0,...,448.0,682.0,964.0,669.0,794.0,547.0,624.0,881.0,563.0,585.0
2,BRAFTOVI-MEKTOVI,Gävleborg-Gävle ONCO,0.0,0.0,0.0,209.0,104.0,104.0,141.0,104.0,...,104.0,191.0,213.0,76.0,257.0,370.0,274.0,0.0,28.0,28.0
3,BRAFTOVI-MEKTOVI,Halland-Halmstad ONCO,275.0,247.0,418.0,171.0,294.0,271.0,708.0,360.0,...,580.0,342.0,507.0,423.0,308.0,550.0,209.0,271.0,365.0,327.0
4,BRAFTOVI-MEKTOVI,Jönköping ONCO,159.0,107.0,181.0,146.0,243.0,128.0,252.0,191.0,...,87.0,167.0,60.0,133.0,128.0,327.0,76.0,0.0,104.0,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,ZELBORAF,Skåne ONCO,71.0,0.0,42.0,28.0,14.0,0.0,14.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
173,ZELBORAF,Stockholm ONCO,42.0,127.0,0.0,0.0,0.0,0.0,14.0,0.0,...,42.0,0.0,14.0,0.0,28.0,14.0,42.0,71.0,28.0,42.0
174,ZELBORAF,Sörmland-Eskilstuna ONCO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175,ZELBORAF,Uppsala ONCO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
176,ZELBORAF,Västra Götaland-Göteborg ONCO,28.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,14.0,14.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# drop rows with territory == 'SE-other' or territory == 'SE-other ONCO'
sales = sales[(sales["territory"] != 'SE-other') & (sales["territory"] != 'SE-other ONCO')].reset_index(drop=True)

In [12]:
sales

,final_brand,territory,2019-09-01,2019-10-01,2019-11-01,2019-12-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,...,2020-11-01,2020-12-01,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01
0,BRAFTOVI-MEKTOVI,Blekinge ONCO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,133.0,219.0,104.0,195.0,195.0,195.0,147.0
1,BRAFTOVI-MEKTOVI,Dalarna ONCO,209.0,104.0,450.0,247.0,847.0,267.0,281.0,422.0,...,448.0,682.0,964.0,669.0,794.0,547.0,624.0,881.0,563.0,585.0
2,BRAFTOVI-MEKTOVI,Gävleborg-Gävle ONCO,0.0,0.0,0.0,209.0,104.0,104.0,141.0,104.0,...,104.0,191.0,213.0,76.0,257.0,370.0,274.0,0.0,28.0,28.0
3,BRAFTOVI-MEKTOVI,Halland-Halmstad ONCO,275.0,247.0,418.0,171.0,294.0,271.0,708.0,360.0,...,580.0,342.0,507.0,423.0,308.0,550.0,209.0,271.0,365.0,327.0
4,BRAFTOVI-MEKTOVI,Jönköping ONCO,159.0,107.0,181.0,146.0,243.0,128.0,252.0,191.0,...,87.0,167.0,60.0,133.0,128.0,327.0,76.0,0.0,104.0,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,ZELBORAF,Skåne ONCO,71.0,0.0,42.0,28.0,14.0,0.0,14.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
166,ZELBORAF,Stockholm ONCO,42.0,127.0,0.0,0.0,0.0,0.0,14.0,0.0,...,42.0,0.0,14.0,0.0,28.0,14.0,42.0,71.0,28.0,42.0
167,ZELBORAF,Sörmland-Eskilstuna ONCO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168,ZELBORAF,Uppsala ONCO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
169,ZELBORAF,Västra Götaland-Göteborg ONCO,28.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,14.0,14.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0

The brands need to be put together in the form of

a) Kisqali (Novartis), Verzenios, Ibrance for breast cancer and

b) Tafinlar+Mekinist (Novartis), Braftovi+Mektovi, Zelboraf+Colletic for melanoma.

In [13]:
# From wide to long
sales = pd.melt(sales, id_vars = ['final_brand', 'territory'], var_name = "time", value_name = "sales") # sales.dtypes are okay

In [14]:
# From long to wide
sales['final_brand'] = sales['final_brand'].astype('str')
sales = pd.pivot_table(sales, index = ['territory', 'time'], columns = "final_brand", \
                       values = "sales").reset_index().rename_axis(None, axis = 1) # sales.dtypes are okay

In [15]:
# Create new columns 'TAF_MEK COMBO' and 'ZELBORAF_COTELLIC COMBO'
sales['TAF_MEK COMBO'] = sales['MEKINIST'] + sales['TAFINLAR']
sales['ZELBORAF_COTELLIC COMBO'] = sales['COTELLIC'] + sales['ZELBORAF']

In [16]:
# Drop irrelevant columns
sales.drop(["MEKINIST", "TAFINLAR", "COTELLIC", "ZELBORAF"], axis = 1, inplace = True)

In [17]:
# From wide to long
sales = pd.melt(sales, id_vars = ['territory', 'time'], var_name = "final_brand", value_name = "sales") 
sales['final_brand'] = sales['final_brand'].astype('category')

In [18]:
# Filter out rows that have an NaN in 'sales'
sales = sales.dropna(subset=['sales']).reset_index().drop('index', axis = 1)

In [19]:
# Rearrange columns such that ['final_brand', 'territory', 'time', 'sales']
sales = sales[['final_brand', 'territory', 'time', 'sales']]

In [20]:
sales

,final_brand,territory,time,sales
0,BRAFTOVI-MEKTOVI,Blekinge ONCO,2019-09-01,0.0
1,BRAFTOVI-MEKTOVI,Blekinge ONCO,2019-10-01,0.0
2,BRAFTOVI-MEKTOVI,Blekinge ONCO,2019-11-01,0.0
3,BRAFTOVI-MEKTOVI,Blekinge ONCO,2019-12-01,0.0
4,BRAFTOVI-MEKTOVI,Blekinge ONCO,2020-01-01,0.0
...,...,...,...,...
3379,ZELBORAF_COTELLIC COMBO,Västra Götaland-Göteborg ONCO,2021-04-01,0.0
3380,ZELBORAF_COTELLIC COMBO,Västra Götaland-Göteborg ONCO,2021-05-01,0.0
3381,ZELBORAF_COTELLIC COMBO,Västra Götaland-Göteborg ONCO,2021-06-01,0.0
3382,ZELBORAF_COTELLIC COMBO,Västra Götaland-Göteborg ONCO,2021-07-01,0.0
3383,ZELBORAF_COTELLIC COMBO,Västra Götaland-Göteborg ONCO,2021-08-01,0.0

In [21]:
# Cast to appropriate data type
sales["final_brand"] = sales["final_brand"].astype('category')
sales["territory"] = sales["territory"].astype('category')
sales["time"] = pd.to_datetime(sales["time"], format = '%Y.%m.%d')
sales["sales"] = sales["sales"].astype('float')

In [22]:
# Sort by 'final_brand', 'territory', 'time'
sales = sales.sort_values(by = ['final_brand', 'territory', 'time'], ignore_index = True)

In [23]:
sales

                  final_brand                      territory       time  sales
0            BRAFTOVI-MEKTOVI                  Blekinge ONCO 2019-09-01    0.0
1            BRAFTOVI-MEKTOVI                  Blekinge ONCO 2019-10-01    0.0
2            BRAFTOVI-MEKTOVI                  Blekinge ONCO 2019-11-01    0.0
3            BRAFTOVI-MEKTOVI                  Blekinge ONCO 2019-12-01    0.0
4            BRAFTOVI-MEKTOVI                  Blekinge ONCO 2020-01-01    0.0
...                       ...                            ...        ...    ...
3379  ZELBORAF_COTELLIC COMBO  Västra Götaland-Göteborg ONCO 2021-04-01    0.0
3380  ZELBORAF_COTELLIC COMBO  Västra Götaland-Göteborg ONCO 2021-05-01    0.0
3381  ZELBORAF_COTELLIC COMBO  Västra Götaland-Göteborg ONCO 2021-06-01    0.0
3382  ZELBORAF_COTELLIC COMBO  Västra Götaland-Göteborg ONCO 2021-07-01    0.0
3383  ZELBORAF_COTELLIC COMBO  Västra Götaland-Göteborg ONCO 2021-08-01    0.0

[3384 rows x 4 columns]

In [24]:
# Save the prepared data frame
route0 = "../processed_data"

if not os.path.exists(route0):
    os.mkdir(route0)
    
print("saving file corresponding to sales.pkl")
sales.to_pickle(f"{route0}/sales.pkl")
pd.read_pickle(f"{route0}/sales.pkl")

saving file corresponding to sales.pkl

                  final_brand                      territory       time  sales
0            BRAFTOVI-MEKTOVI                  Blekinge ONCO 2019-09-01    0.0
1            BRAFTOVI-MEKTOVI                  Blekinge ONCO 2019-10-01    0.0
2            BRAFTOVI-MEKTOVI                  Blekinge ONCO 2019-11-01    0.0
3            BRAFTOVI-MEKTOVI                  Blekinge ONCO 2019-12-01    0.0
4            BRAFTOVI-MEKTOVI                  Blekinge ONCO 2020-01-01    0.0
...                       ...                            ...        ...    ...
3379  ZELBORAF_COTELLIC COMBO  Västra Götaland-Göteborg ONCO 2021-04-01    0.0
3380  ZELBORAF_COTELLIC COMBO  Västra Götaland-Göteborg ONCO 2021-05-01    0.0
3381  ZELBORAF_COTELLIC COMBO  Västra Götaland-Göteborg ONCO 2021-06-01    0.0
3382  ZELBORAF_COTELLIC COMBO  Västra Götaland-Göteborg ONCO 2021-07-01    0.0
3383  ZELBORAF_COTELLIC COMBO  Västra Götaland-Göteborg ONCO 2021-08-01    0.0

[3384 rows x 4 columns]